.AddEmployee{
  width: 60vw;
  height: 60vh;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  @media screen and (max-width:414px) {
    width: 80vw;
    height: 80vh;
   }
}
.sectionHead{
  width: 60%;
  height: 10%;
  display: flex;
  align-items: flex-start;
  @media screen and (max-width:414px) {
    width: 90%;
    height: 90;
   }
}
.sectionHead p{
  font-family: raleway, Poppins;
  font-size: 20px;
  font-weight: 800;
  
}
.Section1{
  width: 60%;
  height: 90%;
  font-family: raleway;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px #00756A;
  justify-content: space-around;
  @media screen and (max-width:414px) {
    width: 90%;
    height: 90;
   }
    }

.Section1 input{
  width: 80%;
  height: 12%;
  font-family: raleway;
  border-radius: 5px;
  border: solid 1px grey;
  padding-left: 10px;
}
.Section1 input:hover{
  border: 2px solid  #00756A;
}
.isError{
   color: red;
   font-size: 10px;
}
.Section1 button{
  width: 50%;
  height: 12%;
  font-family: raleway;
  border-radius: 5px;
  color: white;
  background-color: #00756A;
  border: none;
  cursor: pointer;
}
@media screen and (max-width:1137px) {
  .Section1{
  width: 95%;
  height: 90%;
  /* background-color: pink; */
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px #00756A;justify-content: space-around;
}
.sectionHead{
  width: 60%;
  height: 10%;
  display: flex;
  font-family: raleway;
}
.sectionHead p{
  font-family: raleway, Poppins;
  font-size: 15px;

}
.Section1 input{
  width: 90%;
  height: 12%;
  font-family: raleway;
  border-radius: 5px;
  border: solid 1px grey;
  padding-left: 10px;
}
.Section1 button{
  width: 50%;
  height: 12%;
  font-family: raleway;
  border-radius: 5px;
  font-size: 15px;
  color: white;
  background-color: #00756A;
  border: none;
  cursor: pointer;
}
}