*{
  margin: 0px;
  box-sizing: border-box;
}
.MainConntainer{
  height: 100vh;
  width: 100wh;
  /* background-color: green; */
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.leftSection{
  width: 20%;
  height: 100%;
  /* background-color: blue; */
  display: flex;
  align-items: end;
}
.rightSection{
  width: 100%;
  height: 100%;
  /* background-color: pink; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width:414px) {
    width: 100vw;
    height: 100vh;
  }
}
.TopRightSection{
  width: 100%;
  height: 15%;
  @media screen and (max-width:414px) {
    width: 100%;
    height: 10%;
  }
  /* background-color: antiquewhite; */
}
.mainRightSection{
  width: 100%;
  height: 75%;
  @media screen and (max-width:414px) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
   }
  /* background-color: aquamarine; */
 
}
.MainDashboard{
  width: 90%;
  height: 85vh;
  /* background-color: red; */
  border-radius: 5px;
  border: solid 1px #00756A;
  display: flex;
 align-items: center;
 
  justify-content: center;
}

.Sidebar{
  width: 15vw;
  height: 95vh;
  background-color: #00756A;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 31px 0px 0px;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-family: "raleway";
}
.sidebarMain{
  width: 95%;
  height: 100%;
  

}
.freeSpaceTop{
  width: 100%;
  height: 15%;
}
.menuItems{
  width: 100%;
  height: 65%;
  display: flex;
  align-items: flex-start;
  /* justify-content: center; */
  flex-direction: column;
  color: white;
  /* gap: 10px; */
  margin: 0px;
  padding: 0px;
}
.item1{
  /* background-color: aliceblue; */
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 5px;
  gap: 5px;
  font-family: "raleway";
  font-weight: 600;
  color: white;
  cursor: pointer;
  padding-left: 5px;
}
.item1:active{
  background-color: white;
  /* color: green; */
 
}
.Active{
  background-color: white;
   color: green;
  
}
.item1{
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 5px;
  gap: 5px;
  cursor: pointer;
  padding-left: 5px;
  font-family: raleway;

}
.item3{
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 5px;
  gap: 5px;
  cursor: pointer;
  padding-left: 5px;

}
.item4{
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 5px;
  gap: 5px;
  cursor: pointer;
  padding-left: 5px;
}

.item1 p{
  
  color: white;
  font-weight: bold;
  font-family: raleway;

}
.item2 p{
  margin: 0px;
  padding: 0px;
}
.item3 p{
  margin: 0px;
  padding: 0px;
}
.item4 p{
  margin: 0px;
  padding: 0px;
}
.logout{
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout button{
  width: 70%;
  height: 30%;
  color: #00756A;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: "raleway";
  font-weight: 600;
}

