*{
  margin: 0px;
  box-sizing: border-box;
}
.MainConntainer{
  height: 100vh;
  width: 100vw;
  /* background-color: green; */
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.popbody{
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.737);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
   
}  
.popcard{
  width: 35%;
  height: 45%;
  background-color: white;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popwrap{
  width: 80%;
  height: 80%;
  /* background-color: pink; */
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.popwrap h1{
  font-family: raleway;
  font-weight: 600;
  font-size: 23px;
}
.YesNo{
  width: 50%;
  height: 50%;
  /* background-color: aquamarine; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.yesbtn{
  width: 40%;
  height: 40px;
  background-color: #00756A;
  border-radius: 5px;
  color: white;
  font-family: raleway;
  cursor: pointer;
  border: none;
}
.Infopop{
  width: 58%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* gap: 20px; */
}
.Xclose{
  width: 100%;
  height: 20px;
  color: red;
  cursor: pointer;
  font-size: 40px;
  font-weight: bolder;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
.leftSection{
  width: 20%;
  height: 100%;
  /* background-color: blue; */
  display: flex;
  align-items: end;
  @media screen and (max-width:768px) {
    width: 20%;
    height: 100vh;
  }
  @media screen and (max-width:425px) {
    display: none;
  }

}
.rightSection{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width:768px) {
    width: 100vw;
    height: 100vh;
  }
  @media screen and (max-width:425px) {
    width: 100vw;
    height: 100vh;
  }
}
.TopRightSection{
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width:425px) {
    width: 100%;
    height: 10%;
  }
  /* background-color: antiquewhite; */
}
.mainRightSection{
  width: 100%;
  height: 75%;
  @media screen and (max-width:425px) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
   }
  /* background-color: aquamarine; */
 
}
.MainDashboard{
  width: 90%;
  height: 80vh;
  /* background-color: red; */
  border-radius: 5px;
  border: solid 1px #00756A;
  display: flex;
 align-items: center;
 
  justify-content: center;
}

.Sidebar{
  width: 15vw;
  height: 95vh;
  background-color: #00756A;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 31px 0px 0px;
  font-family: "raleway";
  @media screen and (max-width:768px) {
   width: 15vw;
   height: 95vh;
  }
  @media screen and (max-width:425px) {
    display: none;
   }
}
.sidebarMain{
  width: 95%;
  height: 100%;
  

}
.freeSpaceTop{
  width: 100%;
  height: 15%;
}
.menuItems{
  width: 100%;
  height: 65%;
  display: flex;
  
  align-items: flex-start;
  /* justify-content: center; */
  flex-direction: column;
  color: white;
  /* gap: 10px; */
  margin: 0px;
  padding: 0px;
  @media screen and (max-width:768px) {
   font-size: 10px;
  }
  
}
.item1{
  /* background-color: aliceblue; */
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 5px;
  gap: 5px;
  font-family: "raleway";
  font-weight: 600;
  color: white;
  cursor: pointer;
  padding-left: 5px;
}
.item1:active{
  background-color: white;
  /* color: green; */
 
}
.Active{
  background-color: white;
   color: green;
  
}
.item1{
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 5px;
  gap: 5px;
  cursor: pointer;
  padding-left: 5px;
  font-family: raleway;

}
.item3{
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 5px;
  gap: 5px;
  cursor: pointer;
  padding-left: 5px;

}
.item4{
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 5px;
  gap: 5px;
  cursor: pointer;
  padding-left: 5px;
}

.item1 p{
  
  color: white;
  font-weight: bold;
  font-family: raleway;

}
.item2 p{
  margin: 0px;
  padding: 0px;
}
.item3 p{
  margin: 0px;
  padding: 0px;
}
.item4 p{
  margin: 0px;
  padding: 0px;
}
.logout{
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout button{
  width: 70%;
  height: 30%;
  color: #00756A;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: "raleway";
  font-weight: 600;
}
@media screen and (max-width:1137px) {
  .menuItems{
    width: 100%;
    height: 65%;
    display: flex;
    align-items: flex-start;
    /* justify-content: center; */
    flex-direction: column;
    color: white;
    /* gap: 10px; */
    margin: 0px;
    padding: 0px;
    display: none;
 }
 .Sidebar{
  display: none;
 }
 .MainDashboard{
  width: 90%;
  height: 85vh;
  /* background-color: red; */
  border-radius: 5px;
  border: solid 1px #00756A;
  display: flex;
 align-items: center;
 
  justify-content: center;
}
.rightSection{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; 
}
.TopRightSection{
  width: 100%;
  height: 13%;
  display: flex;
  align-items: center;
  justify-content: center;
}

}

